.contenairselect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection1,.selection2{
    border: black solid 1px;
    width: 30%;
    padding: 2%;
    margin-top: 10%;
    display: flex;
    border-radius: 20%;
    justify-content: center;
}

.selection1{
    margin-right: 10%;
}



